*, html {padding:0; margin:0;
    font-family: 'Maven Pro', sans-serif;
    }
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#switch
{
    font-weight: bold;
    font-size: medium;
    color: #FF9A3C;
}
#switch:hover
{
    color: #FF6F3C;
}
button:hover #switch
{
    color: #FF6F3C;
    transform: scale(1.1);
}
button
{
    color: black;
    font-size: medium;
    transition: all .2s ease-in-out;
}
input
{
    padding: 8px;
}
body
{
    background-color:white;
    background-image: url('/images/bg.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.alert-message
{
    font-weight: bold;
}
.header-white
{
    color: white;
}
#content
{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
@media screen and (max-width: 900px) {
#auth-desktop
{
   display: none; 
}
#auth-mobile
{
    display: block;
}
}

@media screen and (min-width: 900px) {
    #auth-desktop
    {
       display: block; 
    }
    #auth-mobile
    {
        display: none;
    }
    }
#auth
{
   
    width: auto;
}
#nav
{
    
}
