#card-sign-up-mobile
    {
        padding: 20px;
        padding-left: 4px;
        padding-right: 10px;
        height: 350px;
        background: #FFFFFF;
        border-radius: 15px;
        position: relative;
        width:80vw;
        min-width: 300px;
        max-width: 500px;
        
        padding-top: 50px;
        padding-bottom: 50px;
        
       
        display: grid;
        grid-template-rows: auto;
       
        align-items: center;
        justify-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #card-sign-up .alert-msg
    {
        color: white;
    }