<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign_in_mobile.css">
    <title>Document</title>
</head>
<body>
    <div id="card">
       
            <text class="header"> Sign In</text>
            <div class="form">
                <label for="email">Email</label>
                <input id="email" type="text" value="" placeholder="email@domain.com" name="email">
              </div>
              <div class="form">
                <label for="password">Password</label>
                <input id="password" type="text" value="" placeholder="Password" name="name">
              </div>
              <div id="sign-in-btns">
                <button id="sign-in"> Sign In </button>
                <a> Forgot Password? </a> </text>
              </div>
              <text> Need an account? <a> Sign Up now</a> </text>
       
           
            
    </div>
</body>
</html>