body
{
    font-family: 'Maven Pro', sans-serif;
    background-color: #E5E5E5;
}
input
{
    padding: 8px;
}
#card
    {
        padding: 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-height:450px;
        background: #FFFFFF;
        border-radius: 15px;
        position: relative;
        width:80vw;
        min-width: 300px;
        max-width: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 70vh;
        max-height:  550px;
        display: grid;
        grid-template-rows: auto;
       
        align-items: center;
        justify-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #contact-image-big
    {
        color: white;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 64px;
        line-height: 150%;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #FF7B49;
    }
.form
{
    display: grid;
    grid-template-rows: auto;
}

label
{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}

input
{
background: #FFFFFF;
height: 40px;
width: 256px;
border: 1px solid #D4D4D8;
box-sizing: border-box;
border-radius: 4px;

}

#modify-buttons
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}
button:hover
{
   
    transform: scale(1.1);
}
button
{
    font-size: medium;
    transition: all .2s ease-in-out;
}

#save
{
    width: 110px;
    border: none;
    height: 40px;
    font-weight: bold;
font-size: 16px;
line-height: 150%;
color:white;
    background:#FF6F3C; 
    border-radius: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#delete
{
    border: none;
    width: 110px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color:white;
    background: #FFC93C;
    border-radius: 5px;
}
input:focus
{
    outline: none;
    border: 2px solid #FF6F3C;
}
::placeholder
{
    padding: 5px;
    font-size: 16px;
    margin-left: 2px;
}
#exit
{
    border-radius: 5px;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    transition: all .2s;
    width: auto;
    border: none;
    background-color: transparent;
}

#exit:hover
{
    transform: scale(1.1);
}