html, body
{
    background-color: #FCFBFE;
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: repeat;
    background-position: center;
    width: 100vw;
    background-size: cover;
    height: 100%;
    font-family: 'Maven Pro', sans-serif;
    padding:0; margin:0;

}
*, html {padding:0; margin:0;}


#add-contact
{
    display: none;
}
#infoBox
{
    margin: 0;
    padding: 0;
    background-color: white;
    /* background-color: */
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}
#addContact-div
{

    width: 100%;
    display: grid;

}
#addContact
{
    margin-left:5px;
    margin-bottom: 5px;
    color: white;
    font-size: larger;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    background: radial-gradient(182.16% 86% at 50% 14%, #FF6F3C 0%, #FF9A3C 44.55%, #FFC93C 100%);
}




#contact-header
{
    background-color: white;
    font-weight: bolder;
    font-size: 24px;
    color:#5A5A5A;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    height: 70px;
}
#action-div
{
    top:0px;
    position: absolute;
    z-index: 2;
}
#actions
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

}
#search-div
{
    
    margin: 15px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}
#search
{
width: 100%;
height: 35px;

background: #FFFFFF;
padding: 10px;
color: #83838A;
border: 1px solid #D4D4D8;
box-sizing: border-box;
border-radius: 30px;
}
::placeholder
{
    color: #83838A;
}
#infoBox
{

  
   display: grid;
   grid-template-columns: auto;
   align-items: flex-end;
   justify-items: flex-end;
   

}

#infoBox text
{
    color: #5A5A5A;
    font-weight: bold;
    font-size: large;
}
hr 
{

    border: 1px solid #E9E9E9;
    width: 100%;
}
#contacts
{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    line-height: 150%;
    /* identical to box height, or 36px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5A5A;
}
#list
{
    height: 100vh;
    background: rgba(252, 251, 254, 0.9);
    backdrop-filter: blur(10px);
}
#border
{
    position: absolute;
    width: 100vw;
    top:100px;
    height: 1px;
    background-color: #E9E9e9;
}
#info
{
    
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    /* display:grid;
    grid-template-rows:auto;
    align-items: center;
    justify-items: center; */
    background-color: transparent;
    /* backdrop-filter: blur(10px) */
}
button:hover
{
    transform: scale(1.1);
    font-weight: bold;
}
button
{
    font-weight: bold;
    transition: all .2s ease-in-out;
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #999;  
    }
    .modify-div
    {
        display:none;
        position: absolute;
        top:0px;
        height: 100vh;
        width: 100vw;
        display: grid;
        align-items: center;
        justify-items: center;
        background: rgba(245, 245, 245, 0.603);
        backdrop-filter: blur(3px);
    }
    .center-div
    {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
    }

#contact-div
{
    display: grid;
    grid-template-columns: 50px auto 50px;
    max-height: 100%;
    overflow:auto;
    align-items: center;
}
#contact-list
{
    column-count:4;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    column-count: 4;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow-x: none;
    overflow-y: auto;
}
