body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
   
}
#initials
{
    font-size: 30px;
}
.info 
{
    color: #83838A;
    text-decoration: none;
    font-size: 12px;
}

    #contact-card
    {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        background: transparent;
        border-radius: 15px;
        /* background-color: white; */
        position: relative;
        width: 280px;
        height: 140px;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 2px;
        align-items: center;
        justify-items: center;
       
    }

    #contact-image
    {
        color: white;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 150%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #FF7B49;
    }
    #user-name
    {
        font-size: 18x;
       
        font-weight: bold;
        color: #5A5A5A;

    }
    
    
    #user-information
    {
        float: left;
        display: grid;
        grid-template-rows: auto;
        grid-row-gap: 4px;
    }
    
    .symbol-and-info
    {
        display: grid;
        grid-template-columns: 25px auto;
        grid-column-gap: 10px;
        text-align: left;
        color: #FF7B49;
        font-size: 18px;
    }
    
    #edit-user
    {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 25px;
        width: 25px;
    }
    #edit-user
    {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 25px;
        width: 25px;
    }
