<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact_card_styles.css">
    <title>Contact Card</title>
    
</head>
<body>
    <div id="contact-card" class=".lg">
        <div id="contact-image">
            <text id="initials"> VW </text>
        </div>
        
        <div id="user-information">
            <text id="user-name"> Victoria Williamson </text>
           <a class="info" href="tel:+5555555555"> Phone (555) 555-5555 </a>
           <a class="info" href="mailto:something@domain.com"> something@domain.com </a>
                           
               
         
        </div>
       
       
    </div>
</body>
</html>