*, html {padding:0; margin:0;
    }
 
body
{
    background-color:white;
    background-image: url('./bg.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.alert-message
{
    font-weight: bold;
}
.header-white
{
    color: white;
}
#content
{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
@media screen and (max-width: 750px) {
#auth-desktop
{
   display: none; 
}
#auth-mobile
{
    display: block;
}
}

@media screen and (min-width: 750px) {
    #auth-desktop
    {
       display: block; 
    }
    #auth-mobile
    {
        display: none;
    }
    }
#auth
{
   
    width: auto;
}
#nav
{
    
}