body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E5E5;
}
#card
    {
        padding: 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-height:450px;
        background: #FFFFFF;
        border-radius: 15px;
        position: relative;
        width:80vw;
        min-width: 300px;
        max-width: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 70vh;
        max-height:  550px;
        display: grid;
        grid-template-rows: auto;
       
        align-items: center;
        justify-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
.header
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.form
{
    display: grid;
    grid-template-rows: auto;
}

label
{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}

input
{
background: #FFFFFF;
height: 40px;
width: 256px;
border: 1px solid #D4D4D8;
box-sizing: border-box;
border-radius: 4px;

}

#sign-up
{
    float: left;
    width: 110px;
    border: none;
    height: 40px;
    font-weight: 00;
    font-size: 16px;
    line-height: 150%;
    color:white;
    background: linear-gradient(90deg, #FF6F3C 18.03%, #FF9A3C 59.03%, #FFC93C 106.38%);
    border-radius: 5px;
}

#delete
{
    border: none;
    width: 110px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:white;
    background: #FF6F3C;
    border-radius: 5px;
}
input:focus
{
    outline: none;
    border: 2px solid #FF6F3C;
}
::placeholder
{
    padding: 5px;
    font-size: 16px;
    margin-left: 2px;
}
a
{
    color: #FF6F3C;
}